/.vs
launcher/.vs
launcher/Release/
launcher/Debug/
vgui2/Release/
vgui2/Debug/
vgui2/.vs
vgui2/src/Release/
vgui2/src/Debug/
vgui2/vgui2_surfacelib/.vs
vgui2/vgui2_surfacelib/Release
vgui2/vgui2_surfacelib/Debug
vgui2/controls/Release/
vgui2/controls/Debug/
tier0/Release/
tier0/Debug/
tier1/Release/
tier1/Debug/
dlls/Release/
dlls/Debug/
engine/Release/
engine/Debug/
engine/GL_Release_STEAM/
engine/GL_Debug_STEAM/
GameUI/Release/
GameUI/Debug/
dedicated/Release/
dedicated/Debug/
vstdlib/Release/
vstdlib/Debug/
particleman/Release/
particleman/Debug/
*.obj
*.dll
